html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  max-width: 100vw;
}
#root{
  display: flex;
  flex-direction: column;
  align-content: space-around;
  flex:1;
  width:100%;
  height:100%;
  max-width: 100vw;
}

.cell{
  width: 60px;
  height: 60px;
  background-color: #003366;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header{
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
}
.circle{
  width: 70%;
  height: 70%;
  border-radius: 50%;
}
.board{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.column{
  display: flex;
  flex-direction: column;
}
.gamestatus{
  display: flex;
  flex:1;
  align-items: center;
  flex-direction: column;
}
.victory{
  font-size:2rem;
}

@media screen and (max-width: 600px) {
  .cell {
    width: 40px;
    height: 40px;
    border: 1px solid black;
  }

  .circle {
    width: 70%;
    height: 70%;
  }

  .victory {
    font-size: 1.5rem;
  }

  .header {
    text-align: center;
    padding: 0.5em;
  }

}
